h1{
  text-align: center;
}
header{
  background-color: lightblue
}
h1{
  font-size: 67px
}
.sub{
  font-size: 30px
}
nav{
  position: relative;
  left: 600px;
  bottom: 150px;
}
nav li{
  display: inline-block;
  margin: 0 0 0 30px;
  border: 3px solid white
}
